@model BeneficiarioCreateInputModel
<br>
<br>
<div class="alert alert-dark">
    <h2><b>@TempData["Title"]</b></h2>
</div>
<br>
<form method="post">
    <div class="row">
                <div class="col-md-6">
                    <label asp-for="Input.Beneficiario"></label>
                    <input asp-for="Input.Beneficiario" class="form-control" placeholder="Inserisci il beneficiario...." />
                    <span asp-validation-for="Input.Beneficiario" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Input.Descrizione"></label>
                    <input asp-for="Input.Descrizione" class="form-control" placeholder="Inserisci una descrizione...."/>
                    <span asp-validation-for="Input.Descrizione" class="text-danger"></span>
                </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3">
           
        </div> 
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-plus-circle"></i> Crea beneficiario</button>
        </div> 
         <div class="col-md-3">
           
        </div>    
    </div> 
                 
    
</form>