@model ScadenzaViewModel
<br>
<br>
<div class="alert alert-success">
    <h2><b>@ViewData["Title"]</b></h2>
</div>
<br>
<section class="course-info">
    <div class="row">
        <input type="hidden" name="id" asp-for="IDScadenza">
        <div class="col-md-6">
            <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.IDScadenza"><i class="fas fa-pencil-alt"></i> Modifica</a>
        </div>
        <div class="col-md-6">
          
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-9">
                <div class="form-group">
                    <label asp-for="Beneficiario"></label>
                    <input type="text" class="form-control form-control-lg" asp-for="Beneficiario" readonly="true">
                </div>
                <div class="form-group">
                    <label asp-for="DataScadenza"></label>
                    <input asp-for="DataScadenza" class="form-control" readonly="true">
                </div>
                <div class="form-group">
                    <label asp-for="Importo"></label>
                    <input asp-for="Importo" class="form-control" readonly="true" asp-format="{0:n} €">
                </div>
            </div>
            <div class="col-md-3">
                <aside>
                    <div class="form-group">
                        <label asp-for="GiorniRitardo"></label>
                        <input asp-for="GiorniRitardo" class="form-control" readonly="true">
                    </div>
                    <div class="form-group">
                        <label asp-for="Sollecito"></label>
                         @Html.DisplayFor(model => model.Sollecito)
                    </div>
                    <div class="form-group">
                        <label asp-for="DataPagamento"></label>
                        <input asp-for="DataPagamento" class="form-control" readonly="true">
                    </div>
                </aside>
            </div>
    </div>
</section>