@model ScadenzaEditInputModel
<br>
<br>
<div class="alert alert-success">
    <h2><b>@ViewData["Title"]</b></h2>
</div>
<br>
<section class="course-info">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>
                <button class="btn btn-danger btn-lg ml-3" type="button" data-toggle="modal" data-target="#delete-modal"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" asp-validation-summary="All"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <label asp-for="IDBeneficiario"></label>
                    <select asp-for="IDBeneficiario" asp-items="@Model.Beneficiari" class="form-control"></select>
                    <span asp-validation-for="IDBeneficiario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataScadenza"></label>
                    <input asp-for="DataScadenza" class="form-control">
                    <span asp-validation-for="DataScadenza"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Importo"></label>
                    <input asp-for="Importo" class="form-control">
                    <span asp-validation-for="Importo"></span>
                </div>
            </div>
            <div class="col-md-6">
                <aside>
                    <div class="form-group">
                        <label asp-for="GiorniRitardo"></label>
                        <input type="number" asp-for="GiorniRitardo" class="form-control" readonly="true">
                        <span asp-validation-for="GiorniRitardo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sollecito"></label>
                        <input asp-for="Sollecito" class="form-control">
                        <span asp-validation-for="Sollecito"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataPagamento"></label>
                        <input asp-for="DataPagamento" class="form-control">
                        <span asp-validation-for="DataPagamento"></span>
                    </div>
                    <form method="post" enctype="multipart/form-data" asp-controller="Scadenze" asp-action="Upload">
                        <div class="form-group">
                            <input type="file" id="FileUpload" class="btn btn-success" multiple="multiple" />
                            <button type="button" id="btnUpload" value="Upload Files" class="btn btn-warning"><i class="fas fa-cog"></i>Upload</button> 
                        </div>
                    </form>
                </aside>
                <div class="form-group">
                    <input asp-for="IDScadenza" class="form-control" style="visibility: hidden;">
                    <span asp-validation-for="IDScadenza"></span>
                </div>
                <div class="form-group">
                    <input asp-for="IDBeneficiario" class="form-control" style="visibility: hidden;">
                    <span asp-validation-for="IDBeneficiario"></span>
                </div>
            </div>
        </div>
    </form>
    <form method="post" asp-action="Delete" asp-route-id="@Model.IDScadenza">
        <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modal-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-modal-title">Conferma eliminazione</h5>
                        <button class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Stai per eliminare la scadenza e tutte le sue ricevute e non potrai recuperarla. Confermi l'eliminazione?</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-light" type="button" data-dismiss="modal">Annulla</button>
                        <button type="submit" class="btn btn-danger">Conferma</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts
{
    <script type="text/javascript">
            $(document).ready(function () {
                $("#btnUpload").click(function (e) {
                    var data = new FormData();
                    var files = $("#FileUpload").get(0).files;
                    var value = $.trim($("#DataScadenza").val())
                    var id = $.trim($("#IDScadenza").val())
                    if (value.length == 0) {
                        alert("Compilare la Data Scadenza.");
                        return;
                    }
                    var importo = $.trim($("#Importo").val())
                    if (importo.length == 0) {
                        alert("Compilare l'Importo.");
                        return;
                    }
                    if (files.length == 0)
                        return;
                    for (var i = 0; i < files.length; i++)
                    {
                        data.append(files[i].name, files[i]);
                    }
                    $.ajax({
                        url: '@Url.Action("FileUpload", "Scadenze")',
                        type: "POST",
                        data: data,
                        contentType: false,
                        dataType: false,
                        processData: false,
                        success: function (result)
                        {
                            alert(result);
                        }
                });
            });
        });
</script>
}