USE [master]
GO
/****** Object:  Database [Scadenzario]    Script Date: 16/03/2021 05:38:04 ******/
CREATE DATABASE [Scadenzario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Scadenzario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Scadenzario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Scadenzario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Scadenzario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Scadenzario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Scadenzario]
GO
/****** Object:  User [LAPTOP-SMBSSRS2\marco]    Script Date: 16/03/2021 05:38:04 ******/
CREATE USER [LAPTOP-SMBSSRS2\marco] FOR LOGIN [LAPTOP-SMBSSRS2\marco] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Beneficiari]    Script Date: 16/03/2021 05:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiari](
	[IDBeneficiario] [int] IDENTITY(1,1) NOT NULL,
	[Beneficiario] [nvarchar](150) NOT NULL,
	[Descrizione] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Telefono] [nvarchar](20) NULL,
	[SitoWeb] [nvarchar](80) NULL,
 CONSTRAINT [PK_Beneficiari] PRIMARY KEY CLUSTERED 
(
	[IDBeneficiario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ricevute]    Script Date: 16/03/2021 05:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ricevute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IDScadenza] [int] NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[FileType] [nvarchar](50) NOT NULL,
	[FileContent] [image] NOT NULL,
	[Beneficiario] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Ricevute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scadenze]    Script Date: 16/03/2021 05:38:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scadenze](
	[IDScadenza] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NOT NULL,
	[IDBeneficiario] [int] NOT NULL,
	[Beneficiario] [nvarchar](150) NOT NULL,
	[DataScadenza] [datetime] NOT NULL,
	[Importo] [decimal](18, 2) NOT NULL,
	[Sollecito] [bit] NOT NULL,
	[GiorniRitardo] [smallint] NULL,
	[DataPagamento] [datetime] NULL,
 CONSTRAINT [PK_Scadenze] PRIMARY KEY CLUSTERED 
(
	[IDScadenza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Scadenze] ADD  CONSTRAINT [DF_Scadenze_Sollecito]  DEFAULT ((0)) FOR [Sollecito]
GO
ALTER TABLE [dbo].[Ricevute]  WITH CHECK ADD  CONSTRAINT [FK_Scadenze_Ricevute] FOREIGN KEY([IDScadenza])
REFERENCES [dbo].[Scadenze] ([IDScadenza])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ricevute] CHECK CONSTRAINT [FK_Scadenze_Ricevute]
GO
ALTER TABLE [dbo].[Scadenze]  WITH CHECK ADD  CONSTRAINT [FK_Scadenze_Beneficiario] FOREIGN KEY([IDBeneficiario])
REFERENCES [dbo].[Beneficiari] ([IDBeneficiario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Scadenze] CHECK CONSTRAINT [FK_Scadenze_Beneficiario]
GO
USE [master]
GO
