<br>
<div class="jumbotron9">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead"></p>
    <p></p>
</div>

            <div class="row">
                <div class="col-md-4">
                    <h2>Gestione Scadenze</h2>
                    <p><b>Dal menù Lista Scadenze è possibile creare tutte le nostre scadenze. Ovviamente prima
                        vanno creati i beneficiari delle nostre scadenze.
                    </b></p>
                    <p><a data-toggle="tooltip" title="Gestione Scadenze" class="btn btn-primary" asp-controller="Scadenze" asp-action="Index">Gestione Scadenze</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Gestione Beneficiario</h2>
                    <p><b>Dal menù Lista Beneficiari è possibile creare tutti i beneficiari delle nostre scadenze.</b></p>
                    <p><a data-toggle="tooltip" title="Gestione Beneficiario" class="btn btn-primary" asp-controller="Beneficiari" asp-action="Index">Gestione Beneficiario</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Login Esterni</h2>
                    <p><b>E' possibile gestire utenti registrati localmente o associare la propria login a provider di autenticazione esterni.</b></p>
                    <p><a data-toggle="tooltip" title="Login" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a></p>
                </div>
            </div> 
