@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma la password dimenticata";
}

<h1>@ViewData["Title"]</h1>
<p>
    Controlla la tua e-mail per reimpostare la password.
</p>

