@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reimposta conferma password";
}

<h1>@ViewData["Title"]</h1>
<p>
     La password è stata reimpostata. Per favore <a asp-page="./Login">clicca qui per il log in</a>.
</p>
